@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url(./inter.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
html {
  font-family: Inter, sans-serif;
  background-color: #281549;
  color: #ffffff;
}

.page {
  height: 100vh;
}

.header_container {
  height: 200px;
  font-size: 20px;
  padding-left: 50px;
  display: flex;
  align-items: center;
}
.welcome_container {
  /* height: 90vh; */
  display: flex;
  width: 100%;
}
.welcome_container > div:nth-child(1) {
  width: 50%;
  height: 100%;
  padding-left: 50px;
}
.welcome_container h1 {
  font-size: 58px;
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
}
.welcome_container > div:nth-child(2) {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_info {
  display: flex;
  /* align-items: center; */
  gap: 10px;
}
.small_logo {
  height: 1em;
  width: 1em;
}
.logo {
  filter: invert(1);
}

.button {
  border-radius: 25px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: linear-gradient(90deg, #6e00a6 0%, #6939bb 100%);
  border: 0;
}

.welcome_container .buttons {
  margin-top: 80px;
}
.welcome_container .buttons .button:nth-child(1) {
  margin-right: 20px;
}

.learn_more {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateY(-50%);
}

@keyframes learn_more_arrow_animation {
  0% {
    transform: scaleX(70%) translateY(-10px) rotate(45deg);
  }
  100% {
    transform: scaleX(60%) translateY(0px) rotate(45deg);
  }
}
.learn_more_arrow {
  border-right: 5px white solid;
  border-bottom: 5px white solid;
  height: 40px;
  width: 40px;
  /* transform: scaleX(80%) rotate(45deg); */
  animation-name: learn_more_arrow_animation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}
