@media only screen and (max-width: 850px) {
  /* Mobile */

  .header_container {
    height: 100px;
    margin-left: 10px;
  }

  .welcome_container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .welcome_container > div {
    width: 100%;
  }
  .welcome_container {
    flex-wrap: wrap;
  }

  h1 {
    font-size: 38px;
  }

  .button {
    width: 100%;
  }

  /* To hide horizontal scrollbar */
  .pages {
    padding-right: 20px;
    overflow-x: hidden;
  }

  .space_eater {
    height: 60px;
  }
}
@media only screen and (min-width: 850px) {
  /* Desktop */

  .header_container {
    height: 200px;
    margin-left: 50px;
  }

  .welcome_container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .welcome_container > div {
    width: 50%;
    height: 100%;
  }
  .page {
    height: 100vh;
  }

  .pages {
    scroll-snap-type: y mandatory;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .page {
    scroll-snap-align: start;
  }

  h1 {
    font-size: 58px;
  }

  .space_eater {
    height: 120px;
  }
}

.header_container {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.welcome_container {
  display: flex;
  width: 100%;
  gap: 20px;
}
.welcome_container > div:nth-child(1) {
}

.welcome_container > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_info {
  display: flex;
  /* align-items: center; */
  gap: 10px;
}
.small_logo {
  height: 1em;
  width: 1em;
}
.logo {
  filter: invert(1);
}

.welcome_container .buttons {
  margin-top: 80px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.welcome_container p {
  font-size: 18px;
}

.learn_more {
  position: fixed;
  bottom: 10px;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

@keyframes learn_more_arrow_animation {
  0% {
    transform: scaleX(100%) translateY(-10px) rotate(45deg);
  }
  100% {
    transform: scaleX(70%) translateY(0px) rotate(45deg);
  }
}
.learn_more_arrow {
  border-right: 5px white solid;
  border-bottom: 5px white solid;
  height: 25px;
  width: 25px;
  /* transform: scaleX(80%) rotate(45deg); */
  animation-name: learn_more_arrow_animation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

body,
html {
  height: 100%;
}

.page div {
  /*
  margin-left: 20px;
  margin-right: 20px;
  */
}
.space_eater {
  white-space: pre;
}

.page a {
  color: inherit;
}

.page_image {
  width: 80%;
  border-radius: 20px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
/*

TODO

-webkit-scrollbar 

*/
