.textareas {
  display: flex;
}

@media only screen and (max-width: 850px) {
  /* Mobile */
  .textareas > div {
    width: 100%;
  }
  .textareas {
    flex-wrap: wrap;
  }
  .container {
    margin: 20px;
  }
}

@media only screen and (min-width: 850px) {
  /* Desktop */
  .textareas > div {
    width: 50%;
  }
  .container {
    margin: 60px;
  }
}

textarea,
input {
  font-family: monospace;
  width: 90%;
  resize: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 8px 8px;
  /* white-space: pre; */
  word-break: break-all;
  border: 1px solid rgb(118, 118, 118);
}
textarea:focus {
  outline: 1px solid rgb(186, 186, 186);
}

.signverify_buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

#dialog::backdrop {
  background-image: linear-gradient(45deg, #12001b, #080114);
  opacity: 0.8;
}

#dialog {
  border-radius: 16px;
  border: 3px solid #909090;
  background-color: #281549;
  color: #ffffff;

  width: 600px;
}
#dialog_buttons {
  display: flex;
  justify-content: center;

  margin-top: 30px;
}
#dialog textarea,
#dialog input {
  width: 100%;
  resize: none;
  word-break: break-all;
}
#dialog_signature_status {
  text-align: center;
}

.dialog_signature_status_error {
  color: red;
}
