.container {
  margin: 60px;
}

.textareas {
  display: flex;
}

.textareas > div {
  width: 50%;
}

.textareas textarea {
  font-family: monospace;
  width: 90%;
  resize: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 8px 8px;
  white-space: pre;
}

.sign_buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}
